html.dark-mode {
    @import "./node_modules/bulmaswatch/darkly/_variables.scss";
    @import "./node_modules/bulma/bulma";
    @import "./node_modules/bulmaswatch/darkly/_overrides.scss";

    background-color: $body-background-color;
    font-size: $body-size;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    min-width: $body-min-width;
    overflow-x: $body-overflow-x;
    overflow-y: $body-overflow-y;
    text-rendering: $body-rendering;
    text-size-adjust: 100%;
    box-sizing: border-box;

    .navbar.is-fixed-bottom {
      border-radius: 0.4rem 0.4rem 0 0 !important;
    }

    .navbar {
      border-radius: 0 0 0.4rem 0.4rem;
    }

    @import "./node_modules/@oruga-ui/theme-bulma/dist/scss/bulma";
}

html.light-mode {
    @import "./node_modules/bulmaswatch/flatly/_variables.scss";
    @import "./node_modules/bulma/bulma";
    @import "./node_modules/bulmaswatch/flatly/_overrides.scss";

    background-color: $body-background-color;
    font-size: $body-size;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    min-width: $body-min-width;
    overflow-x: $body-overflow-x;
    overflow-y: $body-overflow-y;
    text-rendering: $body-rendering;
    text-size-adjust: 100%;
    box-sizing: border-box;

    .navbar.is-fixed-bottom {
      border-radius: 0.4rem 0.4rem 0 0 !important;
    }

    .navbar {
      border-radius: 0 0 0.4rem 0.4rem;
    }

    @import "./node_modules/@oruga-ui/theme-bulma/dist/scss/bulma";
}

// antireset
h1 { font-weight: 700 !important; font-size: 1.5em !important; }
h2 { font-weight: 600 !important; font-size: 1.2em !important; }
h3 { font-weight: 600 !important; font-size: 1em !important; }
